@charset "utf-8";
/* CSS Document */

pre{
	font-size: 15px;
}


.navbar .nav > li > a{
	font-size: 14px;
}

/*#ds-reset .ds-service-link {
	background: transparent!important;
}

#ds-thread #ds-reset .ds-powered-by a {
   color:transparent!important;
   float:left;
   margin-left:27em;

}
#ds-thread #ds-reset .ds-textarea-wrapper{
	background: white!important;
}

#ds-reset .ds-gradient-bg{
	background: white!important;
}

#ds-thread #ds-reset .ds-post-options{
	border-bottom-color:#ccc!important;
}

#ds-thread #ds-reset .ds-post-button{
	background-image: none!important;
	transition: all 0.5s!important;	
}

#ds-thread #ds-reset .ds-post-button:hover{
    background-color:white!important;
}*/